  .form-group {
    position: relative;
  }
  .register-page {
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(1, 131, 107, 0.7), rgba(0, 113, 93, 0.7)), url('../../../../../../assets/images/nexion.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .form-icon {
    position: absolute;
    left: 10px;
    top: 35px;
    color: #9c4343 ; /* Couleur glaciale des icônes */
    font-size: 1.2rem;
  }

  .form-control {
    padding-left: 35px; /* Ajuste l'espace pour l'icône */
    border-radius: 10px;
  }

  .form-control:focus {
    box-shadow: 0 0 5px rgba(77, 1952, 232, 0.6);
    border-color: #00715D ;
  }

  .input-group {
    margin-bottom: 20px;
    position: relative;
  }

  .input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #00715D;
  }

  .input-group input,
  .input-group textarea,
  .input-group select {
    width: 100%;
    padding: 15px 15px 15px 45px; /* Ajout d'espace pour les icônes */
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .input-group input:focus,
  .input-group textarea:focus,
  .input-group select:focus {
    border-color: #00715D;
    box-shadow: 0 0 8px rgba(0, 113, 93, 0.6);
    outline: none;
  }


  .input-group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; /* Espace entre les colonnes */
  }

  /* Ajustements pour les groupes d'entrée */
  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group input,
  .input-group textarea,
  .input-group select {
    width: 100%;
    padding: 15px 15px 15px 45px; /* Espace pour les icônes */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
