<section class="demande">



<div class="demandeProfil">
  <h1>Etes-Vous ?</h1>
  <!-- <img src="../../../../assets/image copy 4.png" alt=""> -->
</div>

<div class="container">
  <div data-text="Donateur"  style="--r:-15;" class="glass" [routerLink]="['/inscription/donateur']" >
    <i class="fas fa-users"></i>
  </div>
  <div data-text="Organisation" style="--r:5;" class="glass" [routerLink]="['/inscription/organisation']">
    <i class="fas fa-building"></i>
  </div>
  <div data-text="Beneficiaire" style="--r:25;" class="glass" [routerLink]="['/inscription/beneficiaire']">
    <i class="fas fa-hand-holding-heart"></i>
  </div>
</div>


</section>

<!-- <div class="parent">
  <div class="container"  id="container">
      <div class="form-container sign-up" >
          <form>
              <h2>Créer un compte</h2>
              <span>ou utilisez votre email pour vous inscrire</span>
              <input type="text" name="name"  placeholder="Nom">
              <input type="email" name="email"  placeholder="Email">
              <input type="password" name="password"   placeholder="Mot de passe ">
              <button >S'INSCRIRE</button>
          </form>
      </div>
      <div class="form-container sign-in" >
          <form>
              <h2>Se connecter</h2>

              <span>ou utilisez votre mot de passe de messagerie</span>
              <input type="email" name="email"  placeholder="Email">
              <input type="password" name="password"   placeholder="Mot de passe">
              <a href="#">→ Mot de passe oublié ?  ←</a>
              <button >SE CONNECTER</button>
          </form>
      </div>
      <div class="toggle-container">
          <div class="toggle">
              <div class="toggle-panel toggle-left">
                  <h1>Content de te revoir!</h1>
                  <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
                  <button type="button" class="hidden" id="login">SE CONNECTER</button>
              </div>
              <div class="toggle-panel toggle-right">
                  <h1>Bonjour mon ami!</h1>
                  <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
                  <button type="button" class="hidden" id="register">S'INSCRIRE</button>
              </div>
          </div>
      </div>
  </div>
</div> -->
