
<div class="main">

  <app-sidebar></app-sidebar>

  <div class="contenu">
   <app-headers></app-headers>

  <div class="detail">

    <h2 class="text-center my-4">Liste des Beneficiaires</h2>
    <table class="table table-hover table-striped product-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">E-mail</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiaire of beneficiaires">

          <td>{{ beneficiaire.nom }}</td>
          <td>{{ beneficiaire.prenom }}</td>
          <td>{{ beneficiaire.email }}</td>
          <td>{{ beneficiaire.telephone }}</td>
          <td>
            <!-- <button class="btn btn-success btn-sm" >
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" >
              <i class="fas fa-trash-alt"></i>
            </button> -->
            <button [routerLink]="['/profilDetailBeneficiaire',beneficiaire.id]" class="btn  btn-sm" title="Voir détails">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  </div>

</div>

<div class="ajout-ORG">
  <span></span>
  <button [routerLink]="['/ajout/beneficiaire']" class="fab btn btn-primary">
    <i class="fas fa-plus"></i>
  </button>
</div>


