



<div class="main">

  <app-sidebar></app-sidebar>

  <div class="contenu">
   <app-headers></app-headers>

    <div class="profile-card" *ngFor="let user of users">
      <div class="profile-header">
        <img
        *ngIf="user.photo_profile"
        [src]="user.photo_profile"
        alt="Photo de profil"
        class="img-thumbnail"
        style="width: 50px; height: 50px;"/>
          <h2>{{ user.nom }} {{ user.prenom }}</h2>
      </div>
      <div class="profile-info">
        <p><strong>Adresse :</strong> {{ user.adresse }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
        <button class="change-password">Changer le mot de passe</button>
      </div>
    </div>
  </div>

</div>



<!-- Floating Action Button -->
<!-- <button class="fab btn btn-primary">
  <i class="fas fa-plus"></i>
</button> -->
