/* Header styles */
.header {
  padding-top: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  background-color: #007461; /* Couleur de fond de l'en-tête */
  color: #fff;
  height: 100px;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



.welcome-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.welcome-message i {
  font-size: 1.5rem;
}

.welcome-message .username {
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar {
  position: sticky;
  top: -50px;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: #fff;
  box-shadow: 0px 10px 25px #297fb918;
  z-index: 5;
}

.sidebar:hover {
  width: 260px;
  transition: 0.5s;
}

.logo {
  color: #2980B9;
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
 }

.menu li {
  color: #8A92A6;
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5 ease-in-out;
}

.menu li:hover,.menu a:hover,
.active {
  color: #fff;
  background: #007461;
}

.menu a.active {
  color: white;
}

.menu a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}



.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.organisation-list {
  padding: 20px;
  background-color: #f9f9f9;
}

.error-message {
  color: red;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Floating Action Button */
.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #007461;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.fab:hover {
  background-color: #005f4a;
}

.fab i {
  pointer-events: none;
}

.main
{
  display: flex;
}

.profile-card {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #333;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-header {
  background-color: #007461;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-info {
  padding: 20px;
}

.profile-info p {
  font-size: 16px;
  margin: 8px 0;
}

.change-password {
  background-color: #007461;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-password:hover {
  background-color: #005945;
}
