<div class="reservation-list">
  <h2 class="mb-4">Liste des Réservations</h2>

  <div *ngIf="reservations.length > 0; else noReservations">
    <div *ngFor="let reservation of reservations" class="card mb-3">
      <div class="card-header">
        Donateur: {{ reservation.don.creator.name }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Don: {{ reservation.don.name }}</h5>
        <p class="card-text">{{ reservation.description }}</p>
      </div>
    </div>
  </div>

  <ng-template #noReservations>
    <p>Aucune réservation trouvée pour ce bénéficiaire.</p>
  </ng-template>
</div>




<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
  clique
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div> -->
