

<div class="main">

  <div class="sidebar">
      <div class="logo"></div>
      <ul class="menu">
        <li class="active">
          <a href="#" [routerLink]="['/dashboard']" class="menu-item">
            <i class="fas fa-tachometer-alt"></i>
            <span class="menu-text">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="#" [routerLink]="['/dashboard/dons']" class="menu-item">
            <i class="fas fa-gift"></i>
            <span class="menu-text">Dons</span>
          </a>
        </li>

        <li>
          <a href="#" [routerLink]="['/dashboard/donateurs']" class="menu-item">
            <i class="fas fa-users"></i>
            <span class="menu-text">Donateurs</span>
          </a>
        </li>
        <li>
          <a href="#"     [routerLink]="['/dashboard/organisation']" class="menu-item">
            <i class="fas fa-building"></i>
            <span class="menu-text">Organisations</span>
          </a>
        </li>

        <li>
          <a href="#" [routerLink]="['/dashboard/Beneficiaire']" class="menu-item">
            <i class="fas fa-hand-holding-heart"></i>
            <span class="menu-text">Bénéficiaires</span>
          </a>
        </li>

        <li class="logout">
          <a  (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Deconnexion</span>
          </a>
        </li>
      </ul>
  </div>

  <div class="contenu">
    <div class="header">
      <div class="welcome-message">
        <i class="fas fa-user-circle"></i>
        <span class="username" [routerLink]="['/dashboard/profilAdmin']">Mariam</span>
        <!-- <a href="#" class="logout-btn" (click)="logout()">Déconnexion</a> -->
      </div>
    </div>


    <!-- Section des cartes -->
    <div class="dashboard-cards">
      <div class="card">
        <i class="fas fa-gift"></i>
        <div class="card-content">
          <h3>Nombre de Dons</h3>
          <p>{{ nombreDonsUtilisateur }}</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <div class="card-content">
          <h3>Nombre de Bénéficiaires</h3>
          <p>180</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-users"></i>
        <div class="card-content">
          <h3>Nombre de Donateurs</h3>
          <p>320</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-building"></i>
        <div class="card-content">
          <h3>Nombre d'Organisations</h3>
          <p>{{ nombreDonsUtilisateur }}</p>
        </div>
      </div>
    </div>

    <div class="donnes">
      <div class="diagram">
        <h2>Évolution des Dons</h2>
        <!-- Adjust the size of the canvas -->
        <canvas id="donChart" width="50%" height="90%"></canvas>
      </div>
      <div class="diagramBar">
        <h2>Produits les plus fournis</h2>

        <canvas id="productChart" width="400" height="200"></canvas>
      </div>
    </div>

  </div>

</div>


