

<div class="main">


  <app-sidebar></app-sidebar>

  <div class="contenu">
   <app-headers></app-headers>

    <!-- Section des cartes -->
    <div class="dashboard-cards">
      <div class="card">
        <i class="fas fa-gift"></i>
        <div class="card-content">
          <h3>Nombre de Dons</h3>
          <p>{{ nombreDonsUtilisateur }}</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <div class="card-content">
          <h3>Nombre de Bénéficiaires</h3>
          <p>180</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-users"></i>
        <div class="card-content">
          <h3>Nombre de Donateurs</h3>
          <p>320</p>
        </div>
      </div>

      <div class="card">
        <i class="fas fa-building"></i>
        <div class="card-content">
          <h3>Nombre d'Organisations</h3>
          <p>{{ nombreDonsUtilisateur }}</p>
        </div>
      </div>
    </div>

    <div class="donnes">
      <div class="diagram">
        <h2>Évolution des Dons</h2>
        <!-- Adjust the size of the canvas -->
        <canvas id="donChart" width="50%" height="90%"></canvas>
      </div>

      <div class="diagramBar">
        <h2>Produits les plus fournis</h2>
        <canvas id="productChart" width="400" height="200"></canvas>
      </div>
    </div>

  </div>

</div>


