
.main{
  display: flex;
  position: relative;
}
.contenu
{
  position: relative;
  width: 100%;

}
.form-group {
  position: relative;
}

.form-title {
  text-align: center;
  color: #00715D;
}

.glacier-form {
  max-width: 800px;
  margin: 0 auto;
}

.form-icon {
  position: absolute;
  left: 10px;
  top: 35px;
  color: #cea100;
  font-size: 1.2rem;
}

.form-control {
  padding-left: 35px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(0, 113, 93, 0.6);
  border-color: #00715D;
}

.input-group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 20px; /* Espace entre les colonnes */
}

.text-danger {
  font-size: 0.875rem;
  margin-top: 5px;
  color: #ff0000;
}

.btn {
  background-color: #00715D;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: #cea100;
}

/* Animations */
.animate__fadeInUp {
  animation: fadeInUp 0.6s ease-in-out;
}

.animate__pulse {
  animation: pulse 1s infinite;
}

.animate__shakeX {
  animation: shakeX 0.5s ease-in-out;
}


.auth-container {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.488);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .form-container {
    transition: opacity 0.3s ease;
  }
  .container {
    margin-top: 7.5rem;

    }
  .form-control:focus {
      border-color: #28a745;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }


  .back {
    height: 90vh;
    /* background: linear-gradient(to bottom right , rgba(42, 44, 44, 0.7), rgba(62, 151, 135, 0.7)), url('../../../../../../assets/images/nexion.png') no-repeat center center/cover; */
    background-image: linear-gradient(rgba(41, 108, 91, 0.418),rgba(41, 108, 91, 0.418));

    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif; /* Utilisation de Montserrat */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }


  .nav-link
  {
    color: #00715D;
  }
