<div class="back ">
  <div class="container align-items-center">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="auth-container p-4 position-relative">
            <h2 class="text-center mb-4">BENEFICIAIRE</h2>
            <ul class="nav nav-tabs mb-4" id="authTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link" (click)="showLogin()" [class.active]="isSignupPerso">Daara</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" (click)="showSignup()" accesskey="" [class.active]="isSignupStructure">Orpholinat</button>
              </li>
            </ul>
            <div class="tab-content" id="authTabContent">
              <!-- Afficher le formulaire de connexion si isLogin est vrai -->
              <div *ngIf="isSignupPerso">

              <app-inscription-daara></app-inscription-daara>
              </div>
              <!-- Afficher le formulaire d'inscription si isSignupStructure est vrai -->
              <div *ngIf="isSignupStructure">
                <app-register></app-register>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



