<h2>{{ isEditMode ? 'Modifier un Produit' : 'Ajouter un Produit' }}</h2>

<form [formGroup]="produitForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="libelle">Libellé</label>
    <input id="libelle" formControlName="libelle" class="form-control" type="text" placeholder="Libellé" required>
    <div *ngIf="produitForm.get('libelle')?.invalid && produitForm.get('libelle')?.touched" class="text-danger">
      Le libellé est requis.
    </div>
  </div>

  <div class="form-group">
    <label for="quantite">Quantité</label>
    <input id="quantite" formControlName="quantite" class="form-control" type="number" placeholder="Quantité" required>
    <div *ngIf="produitForm.get('quantite')?.invalid && produitForm.get('quantite')?.touched" class="text-danger">
      La quantité est requise.
    </div>
  </div>

  <div class="form-group">
    <label for="montant">Montant</label>
    <input id="montant" formControlName="montant" class="form-control" type="number" placeholder="Montant">
  </div>

  <div class="form-group">
    <label for="modePaiement">Mode de Paiement</label>
    <input id="modePaiement" formControlName="modePaiement" class="form-control" type="text" placeholder="Mode de Paiement">
  </div>

  <div class="form-group">
    <label for="don_id">Don ID</label>
    <input id="don_id" formControlName="don_id" class="form-control" type="number" placeholder="Don ID">
  </div>

  <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
</form>
