
form{
  margin-top: 30px;
}
.form-group {
  position: relative;
}

.form-title {
  text-align: center;
  color: #00715D;
}

.glacier-form {
  max-width: 800px;
  margin: 0 auto;
}

.form-icon {
  position: absolute;
  left: 10px;
  top: 35px;
  color: #cea100;
  font-size: 1.2rem;
}

.form-control {
  padding-left: 35px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 5px rgba(0, 113, 93, 0.6);
  border-color: #00715D;
}

.input-group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 20px; /* Espace entre les colonnes */
}

.text-danger {
  font-size: 0.875rem;
  margin-top: 5px;
  color: #ff0000;
}

.btn {
  background-color: #00715D;
  border: none;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: #cea100;
}

/* Animations */
.animate__fadeInUp {
  animation: fadeInUp 0.6s ease-in-out;
}

.animate__pulse {
  animation: pulse 1s infinite;
}

.animate__shakeX {
  animation: shakeX 0.5s ease-in-out;
}

