<!-- <section  class="detail">
=  <table class="table table-hover table-striped product-table">
    <thead class="table-dark">
      <tr>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telephone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let organisation of organisations">
        <td>{{ organisation.nomstructure }}</td>
        <td>{{ organisation.emailstructure }}</td>
        <td>{{ organisation }}</td>


        <td>
          <button class="btn btn-success btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</section> -->
<div class="header">
  <div class="welcome-message">
    <i class="fas fa-user-circle"></i>
    <span class="username">Mariam</span>
  </div>
</div>

<div class="main">

 <div class="sidebar">
  <div class="logo"></div>
  <ul class="menu">
    <li class="active">
      <a href="#" class="menu-item">
        <i class="fas fa-tachometer-alt"></i>
        <span class="menu-text">Dashboard</span>
      </a>
    </li>

    <li>
      <a href="#" [routerLink]="['/dashboard/dons']" class="menu-item">
        <i class="fas fa-gift"></i>
        <span class="menu-text">Dons</span>
      </a>
    </li>

    <li>
      <a href="#" class="menu-item">
        <i class="fas fa-users"></i>
        <span class="menu-text">Donateurs</span>
      </a>
    </li>
    <li>
      <a href="#" [routerLink]="['/dashboard/organisation']" class="menu-item">
        <i class="fas fa-building"></i>
        <span class="menu-text">Organisations</span>
      </a>
    </li>

    <li>
      <a href="#" class="menu-item">
        <i class="fas fa-hand-holding-heart"></i>
        <span class="menu-text">Bénéficiaires</span>
      </a>
    </li>

    <li class="logout">
      <a href="#">
        <i class="fas fa-sign-out-alt"></i>
        <span>Deconnexion</span>
      </a>
    </li>
  </ul>
</div>

<section class="detail">
  <h2 class="text-center my-4">Liste des Organisations</h2>
  <table class="table table-hover table-striped product-table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">E-mail</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let organisation of organisations">
        <td>{{ organisation.user?.nom }}</td>
        <td>{{ organisation.user?.prenom }}</td>
        <td>{{ organisation.user?.email }}</td>
        <td>{{ organisation.user?.telephone }}</td>
        <td>
          <button class="btn btn-success btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

</div>
<!-- Floating Action Button -->
 <div class="ajout-ORG">
  <span>Ajouter</span>
  <button class="fab btn btn-primary">
    <!-- <div>Organisation</div> -->
    <i class="fas fa-plus"></i>
  </button>

</div>
