


<div class="main">


  <app-sidebar></app-sidebar>

  <div class="contenu">
   <app-headers></app-headers>


  <div class="detail">
    <!-- <a [routerLink]="['/ajout/organisation']">Ajout une Organisation</a> -->
    <!-- <a [routerLink]="['/ajout/organisation']">Ajout une Organisation</a> -->
    <h2 class="text-center my-4">Liste des Organisations</h2>
    <table class="table table-hover table-striped product-table">
      <thead class="table-dark">
        <tr>
          <!-- <th scope="col">Profile</th> -->
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">E-mail</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organisation of organisations">
          <!-- <td>
            <img
              *ngIf="organisation.user?.photo_profile"
              [src]="organisation.user?.photo_profile"
              alt="Photo de profil"
              class="img-thumbnail"
              style="width: 50px; height: 50px;"
            />
          </td> -->
          <td>{{ organisation.user?.nom }}</td>
          <td>{{ organisation.user?.prenom }}</td>
          <td>{{ organisation.user?.email }}</td>
          <td>{{ organisation.user?.telephone }}</td>
          <td>
            <!-- <button class="btn btn-success btn-sm">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
            </button> -->
            <button [routerLink]="['/profilDetailOrganisation', organisation.id]" class="btn btn-info btn-sm" title="Voir détails">
              <i class="fas fa-eye"></i>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  </div>

</div>

<div class="ajout-ORG">
  <span>Ajouter</span>
  <button [routerLink]="['/ajout/organisation']" class="fab btn btn-primary">
    <i class="fas fa-plus"></i>
  </button>
</div>

