


<div class="main">

  <app-sidebar></app-sidebar>

  <div class="contenu">
   <app-headers></app-headers>

    <div class="cards-container">
      <div class="title">
        <h1>Liste des dons</h1>
      </div>
        <div class="don-card animate__animated animate__fadeInUp" *ngFor="let don of dons">
          <img [src]="don.image || 'https://via.placeholder.com/300'" class="don-img">

          <div class="don-card-body">
            <h5 class="don-title">{{ don.libelle }}</h5>
            <!-- <p class="don-description">{{ don.description }}</p> -->
            {{ don.description ? (don.description | slice: 0:190) + '...' : don.description }}

            <div class="don-buttons">
              <!-- Bouton Détails visible pour tous -->
              <button class="btn btn-detail" [routerLink]="['/dons', don.id]">Détails</button>

              <!-- Boutons de Modification et Suppression visible seulement pour le créateur -->
              <ng-container *ngIf="don.created_by && isDonCreator(don.created_by) ">
                <button class="btn btn-modifier" data-bs-toggle="modal" data-bs-target="#donModal">Modifier</button>
                <button class="btn btn-supprimer" (click)="deleteDon(don.id)">Supprimer</button>
              </ng-container>


              <!-- Afficher le bouton de réservation si l'utilisateur est une organisation -->
              <ng-container *ngIf="userRole === 'organisation'">
              <!-- Bouton pour ouvrir la modal -->
              <button class="btn btn-success" (click)="reserverDon(don.id ?? 0)" type="button" data-bs-toggle="modal" data-bs-target="#reservationModal">Réserver</button>
            </ng-container>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>

